.header {
  padding: ($base-size * 5) 0 ($base-size * 8) 0;
  background: $color-dark;
  color: $color-light;

  &__wrapper {
    position: relative;
  }

}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 $base-size 0;
    font-size: ($base-size * 4);
    font-family: $font-header;
    font-weight: $font-light;
    text-transform: uppercase;

    span {
      font-weight: $font-bold;
    }

  }

  &__subtitle {
    margin: 0;
    font-size: ($base-size * 1.5);
    font-weight: $font-light;
    font-style: italic;
  }

}

.home-elem {
  position: absolute;
  margin-top: 5.4 * $base-size;
  
  &:hover a{
    color: $color-main;
  }

  a {
    text-decoration: none;
    color: $color-light;
    padding-right: $base-size;
    border: 1px solid $color-light;
    border-bottom: 0;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    padding: $base-size;

    i {
      padding-right: $base-size;
    }
  }
}